body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: medium;
}

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
}

.row::after {
	content: '';
	clear: both;
	display: table;
}

.rsvp {
	width: 30%;
	margin: 5px;
	border: 1px solid blue;
	border-radius: 3px;
}
